HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
ТЗ_микросервисы.docx
gradlew.bat
gradlew
.gitattributes
api-gateway
auth-service
inventory-service
notification-service
order-service
product-service
user-service

